body {
    font-size: 16px;
}


/* TYPOGRAPHY */

    /* HEADINGS */
    /* reset headings to boostrap defaults */

    h1 {
        font-size: 40px;
    }

    /* override LG default box title styling */
    h2, .s-lib-box .s-lib-box-title {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }