/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}


/* TYPOGRAPHY */

    p {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.5;
        font-weight: 400;
    }
    
    /* HEADINGS */
    /* reset headings to boostrap defaults */

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    /* override LG default box title styling */
    h2, .s-lib-box .s-lib-box-title {
        font-size: 32px;
        font-weight: 600;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }

/* GUIDE SIDE NAVIGATION */

    #s-lg-guide-tabs > ul > li > a {
        background-color: #ffffff;
        font-weight: 400;
    }